<footer class="top-footer">
    <div class="top-footer-wrapper">
    </div>
    <div class="main-footer">
        <div class="container">
            <div class="footer">
                <div class="info-rows">
                    <div class="rows col-2">
                        <h5 class="mb-30">ABOUT GULAHMED</h5>
                        <ul>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="#">COMPANY</a></li>
                            <li><a href="#">CAREERS</a></li>
                            <li><a href="#">STORE LOCATOR</a></li>
                            <li><a href="#">BLOG</a></li>
                        </ul>
                    </div>
                    <div class="rows col-2">
                        <h5 class="mb-30">MY ACCOUNT</h5>
                        <ul>
                            <li><a href="#"><span class="fa fa-user"></span>LOGIN IN</a></li>
                            <li><a href="#"><span class="fa fa-user-plus"></span>CREATE ACCOUNT</a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i>ACCOUNT INFO</a></li>
                            <li><a href="#"><span class="fa fa-history"></span>ORDER HISTORY</a></li>
                            <li><a href="#"><span class="fa fa-check-circle"></span>ORDER STATUS</a></li>
                        </ul>
                    </div>
                    <div class="rows col-2">
                        <h5 class="mb-30">CUSTOMER CARE</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">SERVICES</a></li>
                            <li><a href="#">CONTACT US</a></li>
                            <li><a href="#">PRIVACY POLICY</a></li>
                            <li><a href="#">SHOPPING POLICY</a></li>
                            <li><a href="#">CUSTOMER FEEDBACK</a></li>
                            <li><a href="#">REQUEST A CALL BACK</a></li>
                            <li><a href="#">COMPLAINT/INQUIRY FORM</a></li>
                            <li><a href="#">RETURN AND EXCHANGE POLICY</a></li>
                        </ul>
                    </div>
                    <div class="rows col-2">
                        <h5 class="mb-30">FIND US ON</h5>
                        <ul>
                            <li><a href="#"><span class="fa fa-facebook-square"></span>FACEBOOK</a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span>INSTAGRAM</a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span>TWITTER</a></li>
                            <li><a href="#"><span class="fa fa-youtube-play"></span>YOUTUBE</a></li>
                            <li><a href="#"><span class="fa"><img src="./images/tiktok.webp"
                                            alt=""></span>TIKTOK</a></li>
                            <li><a href="#"><span class="fa fa-whatsapp"></span>WHATSAPP</a></li>
                        </ul>
                    </div>
                    <div class="rows col-4">
                        <h5 class="mb-30">SIGN UP FOR IDEAS UPDATES</h5>
                        <p>By entering your email address below, you consent to receiving our newsletter with access
                            to
                            our latest collections, events and initiatives. more details on this are provided in our
                            <a href="#">Privacy Policy</a></p>
                        <form class="form">
                            <div class="input">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="text" placeholder="Email Address">
                            </div>
                            <div class="actions">
                                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                        <form class="form">
                            <div class="input">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                <input type="text" placeholder="Whatsapp Number">
                            </div>
                            <div class="actions">
                                <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                        <div class="corporate-info"> <span class="h3">FOR CORPORATE INQUIRIES</span>
                            <div> <strong>BY EMAIL</strong>
                                <div> <a href="#">corporate@ideas.com.pk</a> <span class="fa fa-copy"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-text">
                    <div class="pay-icons">
                        <img class="" src="https://www.gulahmedshop.com/media/pwa/images/pay-icons.png" width="259"
                            height="24" alt="supported pay methods">
                    </div>
                    <p class="copyright-parah">
                        @Gul Ahmed Textiles Limited
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>