<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/css/style.css">
    <title>IDEAS BY GULL AHMED</title>
</head>

<body>
    <div class="nav-container">
        <header>
            <div class="nav-qualities">
                <div class="nav-logo">
                    <img src="./images/ideas-logo.webp" alt="">
                </div>
                <div class="qualities-links">
                    <a href="resume">
                        <span>RESUME</span>
                    </a>
                    <a href="#">
                        <span>RETURN & EXCHANGES</span>
                    </a>
                    <a href="#">
                        <span>TRACK ORDER</span>
                    </a>
                    <a href="#">
                        <span>LOOKBOOK</span>
                    </a>
                </div>
                <div class="logins">
                    <a href="#">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <span class="fa fa-user"></span>
                    </a>
                    <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
            
            <nav class="navbar">
                <ul class="navlinks">
                    <li class="link-item">
                        <a href="#">END OF SEASON SALE</a>
                    </li>
                    <li class="link-item">
                        <a href="#">LIMITED EDITION</a>
                    </li>
                    <li class="link-item">
                        <a href="#">LAWN 2024</a>
                    </li>
                    <li class="link-item">
                        <a href="#">UNSTITCHED</a>
                    </li>
                    <li class="link-item">
                        <a href="#">IDEAS HOME</a>
                    </li>
                    <li class="link-item">
                        <a href="#">WOMEN</a>
                    </li>
                    <li class="link-item">
                        <a href="#">SALT</a>
                    </li>
                    <li class="link-item">
                        <a href="#">MEN</a>
                    </li>
                    <li class="link-item">
                        <a href="#">JEWELRY</a>
                    </li>
                    <li class="link-item">
                        <a href="#">SHOES</a>
                    </li>
                    <li class="link-item">
                        <a href="#">BAGS</a>
                    </li>
                    <li class="link-item">
                        <a href="#">KIDS</a>
                    </li>
                    <li class="link-item">
                        <a href="#">FRAGRANCES</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="main-container">
        <main>
            <section class="western-wear">
                <a href="#" class="uni-link" id="link-1">Shop Women's Western</a>
                <a href="#" class="uni-link" id="link-2">Shop Men's Western</a>
            </section>
            <section class="women-rtw">
                <a href="#" class="uni-link" id="link-3">Shop Women's RTW</a>
            </section>
            <section class="home">
                <a href="3" class="uni-link" id="link-4">Shop Bath Linen</a>
                <a href="#" class="uni-link" id="link-5">Shop Bedding</a>
            </section>
            <section class="collection-container">
                <div class="container">
                    <div class="section-heading">
                        <h2>Explore More</h2>
                    </div>
                    <div class="collection">
                        <a href="#" class="flex flex-items">
                            <img src="./images/kid_wear.webp" alt="Image">
                            <div class="flex-content">
                                <h5>Kid's Wear</h5>
                                <p>Shop Now</p>
                            </div>
                        </a>
                        <a href="#" class="flex flex-items">
                            <img src="./images/men_shirt.webp" alt="Image">
                            <div class="flex-content">
                                <h5>Men's Shirt</h5>
                                <p>Shop Now</p>
                            </div>
                        </a>
                        <a href="#" class="flex flex-items">
                            <img src="./images/limited_edition.webp" alt="Image">
                            <div class="flex-content">
                                <h5>Limited Edition</h5>
                                <p>Shop Now</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="new-collection-container">
                <div class="container">
                    <div class="section-heading">
                        <h2>All That's New</h2>
                        <div class="blog">
                            <a href="#">VIEW ALL BLOGS</a>
                        </div>
                    </div>
                    <div class="new-collection">
                        <div class="blog-flex">
                            <div class="image-container">
                                <a href="#" class="flex flex-items">
                                    <img src="./images/new_image.webp" alt="Image">
                                </a>
                                <div class="blog-date">
                                    <span>September 19, 2024</span>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h5 class="blog-title">
                                    <a href="">Discover the Best Unstitched Winter Dresses for Women: Winter Collection
                                        2024</a>
                                </h5>
                                <div class="blog-desc">
                                    Discover the Best Unstitched Winter Dresses for Women:
                                    Winter Collection 2024
                                    Winter is the time for the ultimate…
                                </div>
                                <p class="blog-text-link">
                                    <a href="#">
                                        <span>Read More</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="blog-flex">
                            <div class="image-container">
                                <a href="#" class="flex flex-items">
                                    <img src="./images/new_image2.webp" alt="Image">
                                </a>
                                <div class="blog-date">
                                    <span>AUGUST 03, 2024</span>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h5 class="blog-title">
                                    <a href="">Create Your Dream Cozy Bedroom: Shop Gul Ahmed's Top Bedding
                                        Collection</a>
                                </h5>
                                <div class="blog-desc">
                                    Create Your Dream Cozy Bedroom: Shop Gul Ahmed's Top
                                    Bedding Collection Creating a cozy bedroom is all about…
                                </div>
                                <p class="blog-text-link">
                                    <a href="#">
                                        <span>Read More</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="blog-flex">
                            <div class="image-container">
                                <a href="#" class="flex flex-items">
                                    <img src="./images/new_image3.webp" alt="Image">
                                </a>
                                <div class="blog-date">
                                    <span>AUGUST 03, 2024</span>
                                </div>
                            </div>
                            <div class="blog-content">
                                <h5 class="blog-title">
                                    <a href="">Celebrate Freedom with Ideas: 14th August Sale 2024 on the Latest Fashion
                                        Essentials</a>
                                </h5>
                                <div class="blog-desc">
                                    Celebrate Freedom with Ideas: 14th August Sale 2024 on
                                    the Latest Fashion Essentials Unleash the shopper in you at…
                                </div>
                                <p class="blog-text-link">
                                    <a href="#">
                                        <span>Read More</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="qualities">
                <div class="policies">
                    <a href="#" class="value-details">
                        <span class="shipping-img fa fa-shipping-fast exclude-dark-mode"></span>
                        <span>
                            <span class="h3">SHIPPING CHARGES</span>
                            <p>Flat Charges: PKR 99 on all orders</p>
                        </span>
                    </a>
                    <a href="#" class="value-details">
                        <span class="img24-7 exclude-dark-mode"></span>
                        <span>
                            <span class="h3">SUPPORT 24/7</span>
                            <p>Contact us 24 hours a day, 7 days a week</p>
                        </span>
                    </a>
                    <a href="#" class="value-details">
                        <span class="track-order-img fa fa-map-marker fa-3x"></span>
                        <span>
                            <span class="h3">TRACK YOUR ORDER</span>
                            <p>Track your order for quick updates</p>
                        </span>
                    </a>
                    <a href="#" class="value-details">
                        <span class="return-exchange-img r-e-icon exclude-dark-mode"></span>
                        <span>
                            <span class="h3">RETURN &amp; EXCHANGES</span>
                            <p>Please view the return and exchange policy</p>
                        </span>
                    </a>
                    <a href="#" class="value-details">
                        <span class="int-ship-img fa fa-ship"></span>
                        <span>
                            <span class="h3">INTERNATIONAL SHIPPING</span>
                            <p>For international shipping rates, please see Shipping Policy</p>
                        </span>
                    </a>
                </div>
                <div class="content">
                    <div class="image-1">
                        <img src="./images/qualtiy_4.webp" alt="Premium">
                    </div>
                    <div class="image-1">
                        <img src="./images/quality_3.png" alt="Premium">
                    </div>
                    <div class="image-1">
                        <img src="./images/quality_2.png" alt="Premium">
                    </div>
                    <div class="image-1">
                        <img src="./images/quality_1.png" alt="Premium">
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer class="top-footer">
        <div class="top-footer-wrapper">
        </div>
        <div class="main-footer">
            <div class="container">
                <div class="footer">
                    <div class="info-rows">
                        <div class="rows col-2">
                            <h5 class="mb-30">ABOUT GULAHMED</h5>
                            <ul>
                                <li><a href="#">ABOUT US</a></li>
                                <li><a href="#">COMPANY</a></li>
                                <li><a href="#">CAREERS</a></li>
                                <li><a href="#">STORE LOCATOR</a></li>
                                <li><a href="#">BLOG</a></li>
                            </ul>
                        </div>
                        <div class="rows col-2">
                            <h5 class="mb-30">MY ACCOUNT</h5>
                            <ul>
                                <li><a href="#"><span class="fa fa-user"></span>LOGIN IN</a></li>
                                <li><a href="#"><span class="fa fa-user-plus"></span>CREATE ACCOUNT</a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i>ACCOUNT INFO</a></li>
                                <li><a href="#"><span class="fa fa-history"></span>ORDER HISTORY</a></li>
                                <li><a href="#"><span class="fa fa-check-circle"></span>ORDER STATUS</a></li>
                            </ul>
                        </div>
                        <div class="rows col-2">
                            <h5 class="mb-30">CUSTOMER CARE</h5>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">SERVICES</a></li>
                                <li><a href="#">CONTACT US</a></li>
                                <li><a href="#">PRIVACY POLICY</a></li>
                                <li><a href="#">SHOPPING POLICY</a></li>
                                <li><a href="#">CUSTOMER FEEDBACK</a></li>
                                <li><a href="#">REQUEST A CALL BACK</a></li>
                                <li><a href="#">COMPLAINT/INQUIRY FORM</a></li>
                                <li><a href="#">RETURN AND EXCHANGE POLICY</a></li>
                            </ul>
                        </div>
                        <div class="rows col-2">
                            <h5 class="mb-30">FIND US ON</h5>
                            <ul>
                                <li><a href="#"><span class="fa fa-facebook-square"></span>FACEBOOK</a></li>
                                <li><a href="#"><span class="fa fa-instagram"></span>INSTAGRAM</a></li>
                                <li><a href="#"><span class="fa fa-twitter"></span>TWITTER</a></li>
                                <li><a href="#"><span class="fa fa-youtube-play"></span>YOUTUBE</a></li>
                                <li><a href="#"><span class="fa"><img src="./images/tiktok.webp"
                                                alt=""></span>TIKTOK</a></li>
                                <li><a href="#"><span class="fa fa-whatsapp"></span>WHATSAPP</a></li>
                            </ul>
                        </div>
                        <div class="rows col-4">
                            <h5 class="mb-30">SIGN UP FOR IDEAS UPDATES</h5>
                            <p>By entering your email address below, you consent to receiving our newsletter with access
                                to
                                our latest collections, events and initiatives. more details on this are provided in our
                                <a href="#">Privacy Policy</a></p>
                            <form class="form">
                                <div class="input">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input type="text" placeholder="Email Address">
                                </div>
                                <div class="actions">
                                    <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                                </div>
                            </form>
                            <form class="form">
                                <div class="input">
                                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                                    <input type="text" placeholder="Whatsapp Number">
                                </div>
                                <div class="actions">
                                    <button><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                                </div>
                            </form>
                            <div class="corporate-info"> <span class="h3">FOR CORPORATE INQUIRIES</span>
                                <div> <strong>BY EMAIL</strong>
                                    <div> <a href="#">corporate@ideas.com.pk</a> <span class="fa fa-copy"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright-text">
                        <div class="pay-icons">
                            <img class="" src="https://www.gulahmedshop.com/media/pwa/images/pay-icons.png" width="259"
                                height="24" alt="supported pay methods">
                        </div>
                        <p class="copyright-parah">
                            @Gul Ahmed Textiles Limited
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>




</body>

</html>